# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# env var
backend/.env
.env

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# vscode
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# dock
*.log
